<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>... of the Day</string>
		<key>Detail</key>
		<string>&quot;test!!
Challenge of the Day
sakdfjöklsjdfölakjdflöka&quot;</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>... of the Week</string>
		<key>Detail</key>
		<string>@&quot;test!!
Challenge of the Week 1&quot;</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>... of the Universe</string>
		<key>Icon</key>
		<string>Checkers.png</string>
		<key>Detail</key>
		<string>@&quot;test!!


Challenge of the Universe 3&quot;</string>
	</dict>
</array>
</plist>
